.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  background: #ffdb70;
  border-radius: 4px;
  border: hidden;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  color: #2B111E;
  font-size: 1.1em;
  font-weight: 700;
  height: 3.3vw;
  transition: transform ease-in-out .1s, box-shadow ease-in-out .1s, background ease-in-out .1s;
  width: 16.4vw;
}

.button:hover {
  background: #F2D07D;
}

.button:active {
  background: #f8d777;
  box-shadow: none;
  transform: translateY(.2vw);
}
