.bulletsWrapper {
  display: flex;
  height: 1.7vw;
  justify-content: space-between;
  width: 13.5em;
}

.bullet {
  background: #648799;
  border-radius: 50%;
  display: inline-block;
  height: 1.7vw;
  width: 1.7vw;
}

.active {
  background: #BE5B4A;
}
