html,
body {
  margin: 0;
  font-family: montserrat;
}

@font-face {
    font-family: montserrat;
    src: url('./fonts/montserrat-400-normal.woff2') format('woff2'),
    url('./fonts/montserrat-400-normal.woff') format('woff'),
    url('./fonts/montserrat-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url('./fonts/montserrat-700-normal.woff2') format('woff2'),
    url('./fonts/montserrat-700-normal.woff') format('woff'),
    url('./fonts/montserrat-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
